.content-wrapper {
    max-width: 100% !important;
}

.container {
    max-width: 1920px !important;
}

.container-fluid, .container {
    max-width: 100% !important;
    padding-left: 20px;
    padding-right: 20px;
}

.card {
    width: 100%;
}

.table-responsive {
    width: 100%;
}